<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EcommerceSite</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="account">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Account
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allproducts">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> All Products
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="checkout">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Checkout
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manageproducts">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="newuser">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> New User
            </NavLink>
        </div>
            <div class="nav-item px-3">
            <NavLink class="nav-link" href="permissions">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Permissions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="product">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Product
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productreview">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Product Review
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="salesreport">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Sales Report
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shoppingcart">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Shopping Cart
            </NavLink>
        </div>
    </nav>
</div>

