@namespace EcommerceSite.Pages
@rendermode InteractiveServer
@page "/allproducts"

<PageTitle></PageTitle>


<p>Counter: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>