@namespace EcommerceSite.Pages
@rendermode InteractiveServer
@page "/newuser"

<PageTitle>New User</PageTitle>


<h4>Start an Account</h4>
<div class="mb-3">
    <input class="form-control" placeholder="Email" @bind="email" />
</div>
<div class="mb-3">
    <input class="form-control" placeholder="Password" @bind="password" />
</div>
<div class="mb-3">
    <input class="form-control" placeholder="Reenter Password" @bind="reEnterPassword" />
</div>
<div class="mb-3">
    <input class="form-control" placeholder="Username" @bind="username" />
</div>
<button class="btn btn-primary" @onclick="AddUser">Submit</button>